<.flash_group flash={@flash} />
<div class="max-w-2xl mx-auto px-4 md:px-6 lg:px-8">
  <h1>LiveView and OTP (Open Telecom Platform)</h1>
  <p>Choose an app:</p>
  <ul class="list-disc list-inside">
    <li><a href="/mapbox">Mapbox</a></li>
    <li><a href="/cookies">Cookies</a></li>
    <li><a href="/beatles">Beatles</a></li>
    <li><a href="/poll">Poll</a></li>
    <li><a href="/charts">Charts</a></li>
  </ul>
</div>
